/* LABELS */
label {
    font-size: 1.4rem;
    color: var(--navbar-color);
    /* margin-left: 5px; */
}

.btn {
    display: flex;
    font-size: 1.4rem;
    cursor: pointer;
    max-width: fit-content;
    /* background-color: #3b3b3b3b; */
    background-color: var(--background-color);
}

.form-contact .btn {
    margin-left: 0;
    /* background-color: rgb(59, 59, 59, .1); */
    /* padding-left: 0; */
    /* background-color: var(--background-color); */
    /* background-color: rgb(199, 189, 177); */
    /* transition: opacity 1.3s all; */
}

/* .bTn {
    font-size: 1.4rem;
    cursor: pointer;
} */

.btn:hover {
    color: var(--background-color);
    /* transition: opacity 1.3s all; */
    /* background-color: var(--input-background-color); */
    transition: all 0.3s ease;
}

/* .form-hidden {
    opacity: 0;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
} */

/* BUTTONS */
.button {
    /* display: flex; */
    width: 100%;
    position: relative;
    background-color: rgb(199, 189, 177);
    border: 2px solid white;
    font-size: 2.8rem;
    color: #FFFFFF;
    padding: 10px 10px;
    width: 120px;
    margin: 10px auto;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

}

#start {
    width: auto;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

button:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

/* INPUTS */

input[type=text], input[type=email] {
    /* width: 180px; */
    max-width: 100%;
    color: #eeeeee;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=text], input[type=number], input[type=password], input[type=email], textarea, select, button {
/* input[type=text], [type=email], textarea, select, button { */
    margin: 10px;
    padding: 10px;
    /* width: 180px; */
    max-width: 100%;
    border-radius: 10px;
    /* border-inline: #ccc; */
    color: #eeeeee;
    /* overflow: hidden; */
    /* width: 100%; */
}

textarea {
    display: flex;
    align-items: center;
    max-width: 450px;
    min-height: 50px;
    min-width: 100%;
    resize: both;
    border: 1px solid #ccc;
}

select {
    border: 2px solid #ccc;
    color: #ffffff;
    background-color: #000;
    width: 20rem;
    margin-bottom: 0 auto;
    padding: 10px;
    cursor: pointer;
}

select:hover {
    color: #3b3b3b;
}

input[type=password], select, input[type=number] {
/* input[type=password] { */
    padding: 12px 20px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
}

input:focus,
textarea:focus, input:hover, textarea:hover {
    border: 1px solid var(--input-focus);
    background-color: var(--input-background-color);
    /* transition: all 0.2s ease; */
    /* transition: border 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.3s step-end; */
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

input[type=password].input_error,
input[type=text].input_error,
input[type=email].input_error,
input[type=number].input_error,
textarea .input_error {
    /* height: 100%; */
    border-bottom: 1px solid red;
    border-inline: red;
    /* transition: all 0.2s ease; */
}

input::placeholder:focus {
    visibility: hidden;
}

input.input_error::placeholder {
    color: rgb(247, 116, 116);
}

input.input_error:focus, input.input_error:hover {
    border-bottom: 1px solid var(--input-focus);
    border-inline: unset;
}

input.input_error:not(:placeholder-shown) {
    border-bottom: 1px solid var(--input-focus);
    /* border-inline: unset; */
}

input {
    text-align: center;
    border: 1px solid #ccc;
    width: 180px;
    border-inline: #ccc;
    background-color: #ffffff1a;
}

/* INPUT ERRORS */
.alert-error {
    text-align: center;
    color: #fd6b00;
    /* border: red 1px solid; */
    max-width: 100%;
    margin: 15px auto;
    transition: opacity 3s 1s;
}

/* FORM PROPERTIES */
.form-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.form-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.form {
    /* display: inline-flex; */
    display: flex;

    /* display: inline-grid; */
    gap: 1.5rem;
    /* justify-content: center; */
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    align-content: center;
    min-height: 20px;
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    /* margin: 10px; */
    padding: 5px;
    /* margin: 0 auto; */
    /* position: left; */

    /* grid: minmax(400px, min-content) / repeat(auto-fill, 400px); */

}

.splash-login {
    display: inline-flex;
    gap: 1.5rem;
    align-items: center;
    min-height: 50px;
    max-width: 100%;
    margin: 0 15px;
}

.form-contact {
    /* margin-top: 100px; */
    margin-top: 20px;
    max-width: 1000px;
    /* min-width: 800px; */
    /* padding-left: 8%; */
    /* display: inline-flex; */
    display: grid;
    padding: 5px;
    margin: 0 auto;
    /* grid-template-columns: 2 auto; */
    /* grid-column: 2; */
    gap: 2rem;
    max-width: 100%;
    width: 100%;
    min-height: 50px;
    /* height: 100px; */
    /* grid-auto-flow: row; */
    /* padding: 20px; */
    /* grid: minmax(50px, min-content) / repeat(auto-fill, 400px); */
    /* justify-content: center; */
    /* grid-template-columns: repeat(2, 3fr); */
    /* grid-template-rows: 100px; */
    /* grid-column: 3; */
    /* justify-content: space-evenly; */
    /* justify-content: center; */
    /* position: ; */
    /* align-items: center; */
    /* margin: 20px 10px; */
}

.container {
    margin-bottom: 50px;
    max-width: 100%;
    min-height: 50px;
    overflow: hidden;
}

.contact {
    display: grid;
    justify-content: center;
    /* justify-content: left; */
    align-items: center;
    max-width: 100%;
    width: 100%;
    min-height: 50px;
    /* float: right!important; */

    /* max-width: 900px; */
}

.contact-grid {
    display: grid;
    justify-content: center;
    /* justify-items: center; */

    /* justify-content: right; */
    justify-items: right;
    /* justify-content: left; */
    /* padding-left: 8%; */
    /* grid: minmax(50px, min-content) / repeat(auto-fill, minmax(400px, 650px)); */
    grid-template-columns: repeat(4, auto);

    align-items: center;
    align-content: center;
    /* float: right!important; */

    /* max-width: 900px; */
}

#register-btn {
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 976px) {
    /* .form-contact {
        justify-content: center;
    } */
    form {
        min-width: 50px;
    }

    
    .contact-grid {
        /* grid: minmax(50px, min-content) / repeat(auto-fill, 400px); */ /*a remettre*/
    }
}

@media (max-width: 1270px) {
    /* .form-contact {
        justify-content: center;
    } */
    main {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .contact-grid {
        /* grid: minmax(50px, min-content) / repeat(auto-fill, 450px); */ /*a remettre*/
        /* grid-template-columns: auto; */
    }
}

@media (max-width: 876px) {
    input {
        width: unset;
    }
}

/* @media (min-width: 576px) {
    .contact-grid {
        padding-left: 5%;
        grid-template-columns: auto;
    }
} */

@media (max-width: 576px) {
    .form-contact {
        gap: 0;
        input {
            width: 400px;
            border-inline: 1px solid;
        }
        margin-top: 5%;
        /* justify-content: center; */
    }

    .contact-grid {
        /* padding-left: 5%; */
        display: flex;
        flex-direction: column-reverse;
        img {
            /* display: none; */
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0.1;
        }
        /* grid-template-columns: auto; */
    }

    .form {
        /* align-items: stretch; */
        flex-direction: column;
        gap: 0.5rem;
        /* justify-content: unset; */

    }

    .card {
        width: 90%;
        margin-top: 10%;
        background-color: unset;
    }
}

/* @media (max-width: 776px) {
    #btn {
        margin: unset;
        padding: unset;
    }
} */

@media (max-width: 425px) {
    #btn {
        margin: 0 auto;
        padding: 0;
    }

    .form-contact {
        justify-content: unset;
    }
}



form {
    /* display: flex; */
    /* min-width: 350px; */
    /* flex-wrap: wrap; */
    /* overflow: hidden; */
    max-width: 100%;
    /* width: 100%; */
    /* min-height: 50px; */
    /* min-width: 350px; */
    /* display: grid;
    grid: minmax(400px, min-content) / repeat(auto-fill, 400px); */
}

/* .form-contact form {
    /* display: inline-grid;
    height: 50px;
    
} */

@media(prefers-reduced-motion) {
    .form-hidden {
        transition: none;
    }
}

.form-index {
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin-left: 20px; */
    margin: 40px auto;
}

.form:nth-child(1) {
    transition-delay: 100ms;
}
.form:nth-child(2) {
    transition-delay: 300ms;
}
.form:nth-child(3) {
    transition-delay: 500ms;
}
