@import "burgerBtn.css";
@import "toaster.css";

/**
* Root part // Custom colors and fonts
*/
:root {
    --navbar-color: #eeeeee;
    --navbar-text-color : #000;
    --navbar-hoover-text-color : #a39191;
    --navbar-hoover-background-color : #555252;
    --site-color-01: #a39191;
    --site-color-01-hover: #555252;
    --background-color: orange;
    --input-focus: #7aa8dd;
    /* --input-focus-gradient: linear-gradient(#7aa8dd, #94b2d4); */
    --input-focus-gradient: linear-gradient(318deg, #71C4FFFF 0%, #A100FF00 100%),radial-gradient(75% 75% at 50% 50%, #00FFFFFF 0%, #073AFFFF 81%);
    --input-background-color: #cccccc80;
    /* REM CONFIG */
    font-size: 62.5%;
}

/*
Importing the custom fonts 
from the local website : 
*/

@font-face { 
    font-family: Caveat;
    src:  url(../Fonts/Caveat/Caveat-VariableFont_wght.ttf);
}

@font-face { 
    font-family: Roboto;
    src:  url(../Fonts/Roboto/Roboto-Regular.ttf),
            url(../Fonts/Roboto/Roboto-Bold.ttf),
            url(../Fonts/Roboto/Roboto-Black.ttf),
            url(../Fonts/Roboto/Roboto-Thin.ttf),
            url(../Fonts/Roboto/Roboto-Medium.ttf),
            url(../Fonts/Roboto/Roboto-Light.ttf);
}

/* GLOBAL */

* {
    font-family: Roboto, cursive;
    color: var(--navbar-color);
}

/* TYPEWRITTER */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    /* z-index: 50; */
    /* box-sizing: inherit;  */
}

.hero p {
    display: flex;
    flex-wrap: wrap;
    font-size: 4rem;
    color: var(--navbar-color);
    font-weight: 600;
    letter-spacing: 0.1rem;
    /* width: calc(100% - 20px); */
    margin: 20 30 20;
    padding: 0 20;
    /* overflow: hidden; */
    /* z-index: 50; */
}

.hero p span {
    position: relative;
    /* z-index: 50; */
    color: var(--background-color);
}

.hero p span::before {
    content: "";
    /* z-index: 50; */
    right: -22px;
    top: 50%;
    position: absolute;
    height: 4rem;
    width: 20px;
    background: var(--background-color);
    transform: translateY(-45%);
    /* overflow: hidden; */
    animation: blink 0.7s infinite;
}

.hero p span.stop-blinking::before {
    animation: none;
    /* z-index: 50; */
}

@keyframes blink {
    50% {
        opacity: 0;
        /* z-index: 50; */
    }
}

/* BODY */

body {
    /* margin-top: 60px; */
    /* margin: 15px auto; */
    /* height: 2rem; */
    /* width: auto; */
    padding-top: 60px;
    /* background-color: #141616; */
    /* background: linear-gradient(95deg, rgb(72, 86, 90) 0%, rgb(35, 49, 49) 43%, rgb(0, 0, 0) 100%) center center no-repeat; */
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(95deg, rgba(0,0,0,1) 2%, rgba(35,49,49,1) 100%, rgba(72,86,90,1) 100%); */
    /* background: rgb(33,36,37); */
    /* background: linear-gradient(95deg, rgba(33,36,37,1) 0%, rgba(35,49,49,1) 49%, rgba(0,0,0,1) 100%); */
    background: linear-gradient(95deg, rgba(33,36,37,1) 0%, rgba(11,13,13,1) 90%, rgba(0,0,0,1) 100%);
    /* background-size: 100vh; */
}

a, p {
    text-decoration: none;
    color: var(--navbar-color);
    font-size: 1.5rem;
}

a:hover:not(.action_btn), a.active {
    color: var(--site-color-01-hover);
    /* display: inline; */
    color: orange;
    cursor: pointer;
    /* max-width: max-content; */
    transform: scale(1.05);
    transition: .1s ease-in-out;
    animation: fadeIn 0.3s all;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    display: flex;
    font-size: 6rem;
    max-height: 100%;
    margin-bottom: 100px;
    padding: 2rem;
    justify-content: center;
    /* margin-left: 120px; */
    margin: 0 auto;
}

.pw_reset {
    /* justify-content: center; */
    padding-right: 50%;
    margin: 5%;
    /* padding-left: 5%; */
}

/* HEADER */
header {
    position: relative;
    /* padding-bottom: 50px; */
    /* padding: 0 2rem; */
}

/* nav {
    position: fixed;
    display: flex;
} */

.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    margin: 15px auto;
    /* padding: 0 2rem 0 0; */
    padding: 2rem;
    padding-right: 60px; /* devrait etre deactivated */
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo {

}

/* .navbar a {
    display: unset;
    text-decoration: none;
} */

.navbar .logo a {
    font-size: 1.9rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar .logo:hover {
    scale: 1.05;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

.navbar .active, .navbar a:hover:not(.action_btn) {
    /* content: ""; */

    display: flex;
    flex-direction: column-reverse;

    /* float: left!important; */
    justify-content: center;
    position: relative;

    align-items: center;

    /* max-width: fit-content; */
    /* left: 15px;
    top: 38px; */
    /* width: 100%; */
    /* transition: all .5s ease-in-out; */
    /* width: 0%; */
    /* border-bottom: 2px solid burlywood ; */
    /* border-bottom-width: 50%; */

    animation: fadeIn 0.5s both;
    
    /* animation: borderSlide 0.5s both; */
}

.navbar a.active::before {
    content: "";
    position: relative;
    clear: both;
    border-bottom: 2px solid burlywood;
    animation: fadeIn 0.5s both;
    animation: borderSlide 0.5s both;
    visibility: inherit;
}

.navbar.fadeOut a.active {
    /* display: none; */
    visibility: hidden;
}

.navbar a.active::after {
    content: "";
    /* position: inherit;
    visibility: inherit; */
}

/* .navbar .a:hover:before {
    content: "";
    border-bottom: 2px solid burlywood;
    animation: fadeIn 0.5s both;
    animation: borderSlide 0.5s both;
}

.navbar .a:hover::after {
    content: "";
    border-bottom: 2px solid burlywood;
    animation: fadeIn 0.5s both;
    animation: borderSlide 0.5s both;
} */

/* .navbar .a:hover:before {
    content: "";
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 2px solid burlywood ;
    animation: fadeIn 0.5s both;
    animation: borderSlide 0.5s both;
} */
/* .navbar .a:hover::after {
    content: "";
    display: flex;
    position: relative;
    clear: both;
    border-bottom: 2px solid burlywood ;
    animation: borderSlide 0.5s both;
    display: block;
} */

/* .navbar a:hover:not(.action_btn) {
    /* content: ""; */
    /* display: flexbox; */
    /* position: relative; */
    /* left: 0;
    top: 0; */
    /* width: 50%; */
    /* transition: all .5s ease-in-out; 
    border-bottom: 2px solid burlywood;
    animation: fadeIn 0.5s both;
    animation: borderSlide 0.5s both;
} */

/* NAVBAR ANIMATION */
.slideUp {
    animation-name: slideUp;
    animation-duration: 0.5s;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.3s;
}

@keyframes borderSlide {
    0% {
        opacity: 0;
        width: 0%;
        /* border-bottom-width: 0%; */

        /* transform: translateX(0%); */
    } 
    100% {
        opacity: 1;
        width: 50%;

        /* border-bottom-width: 50%; */
        /* transform: translateX(50%); */
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0%);
        visibility: hidden;
    } 
    100% {
        opacity: 0;
        transform: translateY(-70%);
    }
}
/* END OF NAVBAR ANIMATION */

/* @keyframes slidein {
    0% { left: 0;}
    50%{ left : 10%;}
    100%{ left: 0;}
} */

.action_btn {
    background-color: var(--background-color);
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    color: var(--navbar-color);
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: var(--navbar-color);
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown-menu-background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    /* display: none; */
    visibility: hidden;
    background-color: rgba(230, 181, 181, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* background-color: rgba(129, 32, 32, 0.5); */
    /* transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    transition: background-color 10s ease-in-out;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    height: 0px;
    max-height: 0px;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    overflow: hidden;
    height: 270px;
    /* min-height: 270px; */
    max-height: 400px;
    position: fixed;
    top: 80px;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    /* z-index: 1; */
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action_btn {
    width: 100%;
    /* z-index: 1; */
    display: flex;
    justify-content: center;
}

/* FOOTER */
footer {
    /* width: auto; */
    display: flex;
    background: red;
    /* justify-content: center; */
}

.footer p {
    /* width: calc(100% - 15px); */
    /* color: red; */
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
    

    .navbar .links, 
    .navbar .action_btn {
        display: none;
    }

    .form textarea {
        min-width: 280px;
    }

    .navbar .toggle_btn, .toggle_btn-box {
        display: block;
        /* z-index: 1; */
        visibility: visible;
        color: var(--navbar-color);
    }

    .dropdown-menu {
        display: block;
        /* transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
        /* z-index: 1000; */
    }

    .dropdown-menu-background.open {
        /* display: block; */
        visibility: visible;
        inset: 0px 0px 0px 0px;
    }

    .navbar {
        justify-content: space-between;
        padding-right: 5%;
    }

    .navbar .logo {
        margin: 20px;
    }

    .contact-grid {
        margin: 15px;
    }

    .pw_reset {
        /* justify-content: center; */
        padding-right: unset;
        margin: unset;
        /* padding-left: 5%; */
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 1rem;
        /* z-index: 1; */
        overflow: scroll;
        right : 1rem;
        width: unset;
        /* padding-right: 5%; */
        /* height: 100%; */
    }

    .dropdown-menu-background.open {
        /* display: block; */
        inset: 0px 0px 0px 0px;
        visibility: visible;
    }

    .navbar {
        justify-content: space-between;
        padding-right: 10%;
    }

    .pw_reset {
        /* justify-content: center; */
        padding-right: unset;
        margin: unset;
        /* padding-left: 5%; */
    }
}

/* MAIN */
main {
    /* margin-top: 60px; */
    /* display: flex; */
    display: grid;
    /* margin: 20px; */
    min-height: 100vh;
    max-width: 100%;
    /* justify-content: center; */
}

/* WRAPPER */
.wrapper {
    /* padding: 0 2rem 0 0; */
    /* padding: 2rem; */
    /* display: flex; */
    margin: 0 auto; /* devrait etre deactivated */
    align-content: space-around;
    /* min-height: 200px; */
    /* overflow: hidden; */
    /* padding: 20px; */
    width: calc(100% - 20px); /* devrait etre deactivated */
    max-width: 100%;
}

/* CARDS */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* float: left!important; */
    background-color: rgba(54, 54, 54, .2);
    background-color: rgba(243, 243, 243, 0.05);
    /* padding-left: 10px; */
    border-radius: 10px;
    max-width: 100%;
    /* padding: 5px; */ /* original */
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10%;
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    /* border-start-start-radius: 10px; */
}

.card-header {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

.contact-section {
    /* padding-left: 5%; */
    justify-content: center;
    padding-top: 5px;
    margin-top: 5px;
}

.contact-section p {
    /* margin-top: 15px; */
    margin: 15px auto 15px;
    /* padding-left: 5%; */
    /* font-size: small; */
}

.contact-section a {
    color:rgba(255, 144, 64, 0.562)
}

*img {
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}

/* PLACEHOLDERS */
::placeholder {
    text-align: center;
}

.input_error:hover::placeholder {
    /* visibility: hidden; */
    color: rgba(0, 128, 0, 0);
    transition: all 0.3s ease-in-out;
}

input:focus::placeholder, input.input_error:focus::placeholder {
    visibility: hidden;
    color: rgba(0, 128, 0, 0);
}

/* or, for legacy browsers && moz 18 & 19+*/
:-moz-placeholder , ::-moz-placeholder, :-ms-input-placeholder, ::-webkit-input-placeholder {
    text-align: center;
}
:hover::-moz-placeholder, .input_error:hover::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(0, 128, 0, 0);
}