.steps-buttons {
    --button-size: 80px;
    --progress-bar-width: 30px;
    --font-size: 1rem;

    .step-button-open {
        display: none;
    }
    background: var(--button-color);
    border-radius: 50%;
    aspect-ratio: 1;
    border: 0;
    /* border: 8px solid red; */
    /* border-right-color: var(--button-color); */

    width: var(--button-size);
    position: relative;
    /* display: inline-block; */
    color: #FFFFFF;
    text-align: center;
    align-content: center;
    /* inset: 0;
    margin: auto; */
    /* vertical-align: middle; */

    /* animation: l24 1s infinite linear; */
    &:hover {
        .step-button__long-arrow {
            animation: slideToTheRight .5s ease-out forwards;
        }
    }
    .step-button__long-arrow {
        display: inline-block;
        transform: translateY(0);
        transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
        margin: auto 40%;
        width: 20px;
        height: 20px;
        /* position: relative; */
        /* top: 50%;
        left: 50%; */
        border-top: 2px solid white;
        border-left: 2px solid white;
        &.right {
        /* & :is(.step-button__long-arrow__right) { */
            transform: rotate(135deg);
        }
        &.left {
            transform: rotate(-45deg);
        }
        &::after {
            content: "";
            display: block;
            width: 2px;
            height: 35px;
            background-color: white;
            transform: rotate(-45deg) translate(12px, 4px);
            inset: 0;
            position: absolute;
            /* margin: auto; */
        }
        /* &:hover, &:hover::after {
            transform: translateY(15px);
        } */
    }
    &::after, &::before {
        content: '';
        position: absolute;
        aspect-ratio: 1;
        border-radius: 50%;
        display: block;
        /* width: 100%;
        height: 100%; */
        scale: 1;
        /* border-radius: 100%; */
        /* aspect-ratio: 1; */
        /* border-radius: 100vh; */
        /* border: 2px solid transparent; */
        /* border: 2px solid white; */
        /* inset: 0 0 0 -8px; */
        inset: 0;
        margin: -10px;
    }
}

.filling-effect {
    transition: color 0.25s;

    &::after, &::before {
        
        scale: 0;
        /* aspect-ratio: 1;
        border-radius: 100vh; */
        border: 2px solid transparent;
        /* inset: 0 0 0 -8px; */
        /* inset: 0;
        margin: -10px; */
        /* aspect-ratio: 1; */
        /* border-radius: 100%; */
    }

    &::before {
        top: 0;
        left: 0;
    }

    &::after {
        bottom: 0;
        right: 0;
    }
    &:hover {
        color: red;
    }

    &:hover::before,
    &:hover::after {
        /* aspect-ratio: 1;
        border-radius: 100%; */
        /* width: 100%;
        height: 100%; */
        scale: 1;
        /* inset: 0;
        margin: -10px; */
        /* border: 2px solid white; */
    }

    &:hover::before {
        border-top-color: red;
        border-right-color: red;
        transition:
            /* width 0.25s ease-out,
            height 0.25s ease-out 0.25s, */
            scale 0.25s ease-out 0.25s;
    }

    &:hover::after {
        border-bottom-color: red;
        border-left-color: red;
        transition:
            border-color 0s ease-out 0.5s,
            /* width 0.25s ease-out 0.5s,
            height 0.25s ease-out 0.75s, */
            scale 0.25s ease-out;
    }
}

@keyframes slideToTheRight {
    to {
        transform: rotate(135deg) translate3d(-15%, -3px, 0)
    }
}

@keyframes slideToTheRight2 {
    to {
        transform: translate3d(10%, 0, 0)
    }
}

@keyframes slideToTheLeft {
    to {
        opacity: 1;
        transform: translate(0)
    }
}

:root {
    --button-size: 80px;
    /* --progress-bar-height: 80px; */
    --progress-bar-width: 30px;
    --font-size: 1rem;
}

.circular-progress2 {
    width: var(--button-size);
    /* height: var(--progress-bar-height); */
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    position: relative;
    /* background-clip: content-box;
    padding: 5px */
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        border: 3px solid transparent;
        background-color: blue;
        /* aspect-ratio: 1;
        border-radius: 50%;
        inset: 0;
        margin: 0; */
        width: 80%;
        /* height: 80%;  */
        aspect-ratio: 1;
        border-radius: 50%; 
    }
    &:hover {
        .step-button__long-arrow {
            animation: slideToTheRight .5s ease-out forwards;
        }
    }

    .step-button-open {
        display: none;
    }
}
.inner-circle2 {
    position: absolute;
    width: calc(var(--button-size) - var(--progress-bar-width));
    /* height: calc(var(--progress-bar-height) - 30px); */
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--button-color);
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        border: 3px solid red;
        /* background-color: var(--button-color); */
        /* width: 100%; */
        aspect-ratio: 1;
        border-radius: 50%;
        /* inset: 0;
        margin: 0; */
        /* width: 100%;
        height: 100%;
        border-radius: 50%; */
        inset: 0;
        margin: -10px;
    }
}

.percentage2 {
    display: none;
    position: relative;
    font-size: var(--font-size);
    color: rgb(0, 0, 0, 0.8);
}

.step-button__long-arrow {
    display: inline-block;
    /* transform: translateY(0); */
    /* transition: transform ease-out 200ms, -webkit-transform ease-out 200ms; */
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    inset: 0 5px;
    position: relative;
    /* inset: 0;
    margin: auto; */
    &.right {
        transform: rotate(135deg);
    }
    &.left {
        transform: rotate(-45deg);
    }
    &::after {
        content: "";
        display: block;
        width: 2px;
        height: 35px;
        background-color: white;
        transform: rotate(-45deg) translate(12px, 4px);
        inset: 0;
        position: absolute;
    }
}

@property --data-percentage {
    syntax: "<number>+";
    inherits: false;
    initial-value: 200 1400;
}

/* Avec SVG dasharray */
.circular-progress-button-container {
    --button-size: 80px;
    --progress-bar-width: 30px;
    --progress-bar-color: purple;
    --font-size: 1rem;
    /* --data-percentage: 10 1400; */
    --show: none;
    --inner-circle-border-color: red;
    --inner-circle-stroke-color: pink;
    --arrow-color: cyan;
    --arrow-border-color: blue;

    width: var(--button-size);
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    /* margin: 10% auto; */

    &.right-corner {
        place-self: end;
    }

    &.left-corner {
        place-self: baseline;
    }

    > input {
        display: none;
    }

    .circular-progress-button {
        display: grid;
        place-items: center;

        &[data-arrowflip="flip"] {
            .arrow {
                transform: translate(100%) scaleX(-1);
            }
        }

        &::after {
            display: var(--show);
            content: attr(aria-valuenow) "%";
            position: absolute;
            font-size: var(--font-size);
        }

        .progress-bar-color {
            stroke: var(--progress-bar-color);
            stroke-dasharray: var(--data-percentage, 0 1400);
            stroke-dashoffset: 0;
            transition: --data-percentage 300ms linear;
        }

        .arrow {
            fill: var(--arrow-color);
            stroke: var(--arrow-border-color);
            /* transform: translateX(0);
            transition: transform ease-out 200ms; */
        }

        .inner-circle-border {
            stroke: var(--inner-circle-stroke-color);
        }

        .inner-circle {
            fill: var(--inner-circle-border-color);
        }
    }

    &:is(:hover, :active, :focus) {
        /* .progress-bar-color {
            stroke-dasharray: var(--data-percentage, 200 1400);
        } */

        [data-arrowflip="none"] {
            .arrow {
                transform: translateX(10%);
                transition: transform ease-out 500ms;
            }
        }
        [data-arrowflip="flip"] {
            .arrow {
                transform: translate(90%) scaleX(-1);
                transition: transform ease-out 500ms;
            }
        }
    }

    &:not(:hover, :active, :focus) {
        #arrow {
            /* transform: translateX(0); */
            transition: transform ease-out 200ms;
        }
    }
    @media screen and (max-width: 576px) {
        display: none;
    }
}

.progress-bar {
    content: url(../img/arrowbutton.svg);
    fill: white;
}

.circular-progress3 {
    --button-size: 80px;
    --progress-bar-width: 30px;
    --font-size: 1rem;

    .step-button-open {
        display: none;
    }
    border-radius: 50%;
    aspect-ratio: 1;
    /* border: 0; */
    width: var(--button-size);
    /* position: relative; */
    /* color: red; */
    text-align: center;
    align-content: center;
    z-index: 2;
    display: grid;
    place-self: center;
    transform: translate(0);

    &:not(:hover) {
        
        #ellipse31 {
            /* fill: transparent; */
        }
        #Arrow3 {
            /* animation: slideToTheLeft 500ms ease-out forwards; */
            transform: translateX(0);
            transition: transform ease-out 200ms;
        }
    }
    &:hover {
        svg {
            #Arrow3 {
                transform: translateX(12px);
                transition: transform ease-out 500ms;
                /* animation: slideToTheRight2 .5s ease-out forwards; */
            }
        }
    }
    &::after {
        content: '';
        position: absolute;
        /* display: grid;
        place-self: center; */
        place-self: center;
        aspect-ratio: 1;
        border-radius: 50%;
        scale: 1;
        /* margin: -10px; */
        width: 90px;
        z-index: -1;
        background-color: conic-gradient(
            
        );
        inset: -8px;
        
        /* background-clip: content-box;
        padding: 10px; */

        /* background-clip: content-box;
        margin: 5px; */
    }
    .percentage3 {
        display: none;
    }
}