/** TOAST */
.toast-container {
    /* position: absolute; original */
    position: fixed;
    z-index: 9999;
    top: 25px;
    right: 30px;
    max-width: 600px;
    display: grid;
    margin-left: 20px;
    gap: 1rem;
    
    &:has(.toast.close) {
        overflow: visible;
    }
    &:not(:has(.toast.close)) {
        overflow: hidden;
    }
}

.toast {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    min-height: 55px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    width: 100%;
    height: 100%;
}

.toast.Erreur .check, .toast.Erreur .progress{
    background-color: #ff4b4ba6;
}

/* .toast.Success {
    background: #fff;
} */

.toast.active {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0px 0px;
    min-height: 55px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0px 70px 0px 20px;
}

.message .text {
    font-size: 1.6rem;
    font-weight: 400;
    text-wrap: pretty;

    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: #333;
    text-wrap: pretty;

}

.toast .toggle_btn-box {
    width: 7rem;
    position: absolute;
    top: 10px;
    right: 1px;
    /* padding: 5px; */
    cursor: pointer;
    opacity: 0.7;
    display: block;
}

.toast .toggle_btn {
    display: block;
}

.toast .toggle_btn i{
    background-color: #2b2727; 
}

.toast .toggle_btn-box:hover {
    opacity: 1;
    border-radius: 5px;
    box-shadow: 2px -6px 20px -5px rgba(0, 0, 0, 0.5);
    transform: translateX(calc(-5% - 10px));
    transition: all 0.3s;
    /* top: 8px; */
}

.toast .toggle_btn-box:active {
    opacity: 0.5;
    box-shadow: -2px -6px 20px -5px rgba(0, 0, 0, 1);
    transform: translateX(-5px);
    transition: all 0.1s;
}

.toast.close {
    animation: fade 0.5s both;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

.toast.active ~ button {
    pointer-events: none;
}

.toast .open i:nth-child(1) {
    animation: ease .7s top forwards;
}

.toast i:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.toast .open i:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.toast i:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.toast .open i:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.toast i:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}
/* End of TOAST */