<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/main.css" />
    <link rel="stylesheet" href="../resources/css/index.css" />
    <title>Document</title>
</head>

<body>
    <h1 class="fourofour no-js">JS</h1>
    <div class="cloak__wrapper">
        <div class="cloak__container">
            <div class="cloak"></div>
        </div>
    </div>
    <div class="info">
        <h2 class="fourofour">Votre JavaScript n'est pas activé</h2>
        <p class="fourofour">Pour fonctionner correctement, cette application nécéssite que JavaScript soit actif sur
            votre navigateur.</p>
        <p class="fourofour"> </p>Pour résoudre ce problème, vous devez mettre à jour votre navigateur ou bien en
        télécharger un compatible tel
        que : Opéra, Chrome, Firefox ou Safari. </p>
        <p>Quand vous serez prêt, cliquez sur ce bouton pour revenir à l'accueil</p>
        <a class="btn fourofour" href="../index.php" rel="noreferrer noopener">Accueil</a>
        <!-- <a class="btn fourofour" href="../index.php" target="_blank" rel="noreferrer noopener">Home</a> -->
    </div>
</body>

</html>