<template id="searchbar-layout">
    <div class="parameter">
        <div class="form">
            <div class="icon-search-input">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input type="text" accesskey="s" class="input" id="header-search-box-input" name="query" autocomplete="off"
                spellcheck="false" autocapitalize="none" itemprop="query-input"
                placeholder="Recherchez votre recette...">
            <!-- </form> -->
            <div class="icon-backspace icon-s">
                <i></i>
            </div>
        </div>
    </div>

</template>