<div class="steps-buttons filling-effect">
    <input type="checkbox" href="#" class="step-button-open" name="step-button" id="step-button"/>
    <label class="step-button__long-arrow right" for="step-button">
        <!-- <span class="step-button__long-arrow__right"></span> -->
    </label>
</div>

<div class="circular-progress"
    data-inner-circle-color="lightgrey"
    data-percentage="80"
    data-progress-color="crimson"
    data-bg-color="black"
    role="progressbar"
    aria-valuenow="0"
    aria-live="polite"
    >
    <div class="inner-circle"></div>
    <p class="percentage">0%</p>
    <input type="checkbox" href="#" class="step-button-open" name="step-button" id="step-button"/>
    <label class="step-button__long-arrow right" for="step-button">
        <!-- <span class="step-button__long-arrow__right"></span> -->
    </label>
</div>