<template id="alert-layout">
    <div class="toast" role="alert">
        <div class="toast-content">
            <i class="fas fa-solid check"></i>
            <div class="message">
                <span class="text text-1">Success</span>
                <span class="text text-2">Your changes has been saved</span>
            </div>
            <div class="toggle_btn-box" aria-label="Close">
                <div class="toggle_btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
            </div>
        </div>
        <div class="progress"></div>
    </div>
</template>