<template id="user-recipes-template">
    <article class="item_container">
        <div class="item__image">
            <img class="js-img" src="{{img_path}}" alt="">
            <div class="js-youtube-player" id="UzRY3BsWFYg"></div>
        </div>
        <div class="item__body">
            <div class="item__title js-title">
                {{title}}
            </div>
        </div>
        <a class="file-uploader js-href" href="./recipes/update_recipes.php?id={{recipe_id}}">Editer l'article</a>
    </article>
</template>